<form action="home/create" method="post">
    <input type="text" name="write">
    <input type="text" name="content">
    <input type="submit" value="submit">
</form>
<p><a href="/my-secret-view">작성된 글 확인</a></p>
